<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/css/album.css">
    <script src="js/main.js"></script>
    <script>
        $(function () {
            console.log('#nav li' + ' #{{page}}');
            $('#bs-example-navbar-collapse-1 #{{page}}').addClass('active');
        });
    </script>
</head>
<body>
<div>
    <nav class=" top navbar navbar-inverse " style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="top navbar-header">
                <button type="button" class="top navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HOME</a>
            </div>
            <div class="top collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="index"><a href="/">Home</a></li>
                    <li id="about"><a href="/about" id="about">About</a></li>
                    <li id="album"><a href="/album">Album</a></li>
                    <li id="blog"><a href="/blog">Blog</a></li>

                </ul>
                {{#if session.name }}
                    <ul class="nav navbar-nav navbar-right">
                        <form id="form-logout" action="/logout" method="post">
                            <img src="{{session.avatar}}" class="small-avatar">
                            <label
                                    style="color: azure">{{session.name}}</label>

                            <input id="logout" type="submit"
                                   class="btn btn-primary"
                                   value="Logout">
                        </form>

                    </ul>

                {{else}}
                    <ul class="nav navbar-nav navbar-right">
                        <li id="login"><a href="/login">Login</a></li>
                        <li id="register"><a href="/user">register</a></li>
                    </ul>
                {{/if}}


            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse block ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed plus" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" style="color: aliceblue"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav nav-pills nav-stacked ">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="/user/me">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div>
        <div class="main-body">
            {{#each notices}}
                <b>{{this}}</b> <br>
            {{/each}}
            {{auth}}
            <br>
            {{{body}}}
        </div>
    </div>
</div>
</body>
</html>
